.item1 { grid-area: logo; }
.item2 { grid-area: phone; }
.item3 { grid-area: menu; }
.item4 { grid-area: imageslideshow; }
.item5 { grid-area: textcontent; }
.item6 { grid-area: sidebar; }
.item7 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo 3 phone'
    'logo logo menu menu'
    'imageslideshow imageslideshow imageslideshow imageslideshow'
    'textcontent textcontent textcontent sidebar'
    'footer footer footer footer';
  gap: 10px;
  background-color: grey;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  height: 110px;
}

.item2 {
  height: 30px;
}

.item3 {
  height: 30px;
}

.item4 {
  height: 250px;
}

.item5 {
  height: 300px;
}

.item6 {
  height: 300px;
}

.item7 {
  height: 100px;
}