table {
    margin: auto;
    border-spacing: 0;
}

table,
th,
td {
    border-collapse: separate;
}

th,
td {
    font-size: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}

h1{
    font-size: 25px;
}

td:nth-child(1){
    color:purple;
    border: 2px solid purple;
    background-color: #d0c9e0;
}

td:nth-child(2){
    color:rgb(4, 146, 255);
    border: 2px solid rgb(4, 146, 255);
    background-color: #daecf6;
}

td:nth-child(3){
    color: #366481;
    border: 2px solid #366481;
    background-color: #daecf6;
}

td:nth-child(4){
    color: #878d66;
    border: 2px solid #878d66;
    background-color: #EEEfe3;
}

td:nth-child(5){
    color: #bdc28f;
    border: 2px solid #bdc28f;
    background-color: #EEEfe3;
}

td:nth-child(6){
    color: #78dbd6;
    border: 2px solid #78dbd6;
    background-color: #E4f3f1;
}

td:nth-child(7){
    color: #d0494c;
    border: 2px solid #d0494c;
    background-color: #f1cfd5;
}

.none {
    border: none !important;
}