#container {
  background-color: rgb(146, 153, 153);
  max-width: 1024px;
  padding: 10px;
  margin: auto;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

#phone {
  color: white;
  padding: 3px 3px 3px 3px;
  border: black solid 3px;
  
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 189, 189);
  margin-bottom: 10px;
  height: 10vh;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;/*num1=top num2=right num3=bottom num4=left*/ 
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: rgb(0, 191, 255);
  color: rgb(16, 62, 153);
  text-decoration: underline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

img {
  vertical-align: middle;
}

.mySlides {
  display: none;
  width: 800px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  background-size: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  justify-content: center;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.feat {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.feat2{
  text-align: center;
  width: 25%;
  border-style: solid;
}

.content {
  background-color: #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebar {
  width: 25%;
  border: black solid 3px;
  text-align: center;
}

#sidebar a {
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*@media screen and (min-width: 800px) {
  .column {
    width: 33.33%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    width: 50%;
  }

  #column1 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
  }

  #column1 {
    width: 100%;
  }
}*/