.item1 {
    grid-area: logo;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: content1;
}

.item4 {
    grid-area: pic1;
}

.item5 {
    grid-area: pic2;
}

.item6 {
    grid-area: content2;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'logo menu'
        'content1 pic1'
        'pic2 content2';
    background-image: url(../images/Bg\ Shape@2x.png);
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: right top;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
}

.item1 {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    width: 600px;
}

.box1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 380px;
    left: 10px;
}

.box1 img {
    padding: 20px;
}

.box2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    text-align: left;
    width: 500px;
}

.box2 button {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:rgb(0, 0, 0, 0);
    color: white;   
    border: none;
    text-align: center;
}

.box2 h1 {
    font-size: 60px;
    margin: 0;
}

.box2 h2 {
    font-size: 50px;
    margin: 0;
}

.item4 {
    height: 700px;
    width: 600px;
}

.item5 {
    height: 250px;
}

.item6 {
    height: 250px;
}