h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 150px;
    font-size: 50px;
    margin: 0;
}

#tq {
    text-align: center;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: radial-gradient(yellow, rgb(0, 170, 255), yellow);
    border: 10px double blue;
}