

/*learn more button*/

#toppic {
    height: 600px;
    background-image: url(../images/activities/hotel-union-oye-slogen-saksa_epi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}





        .carousel-item img {
            object-fit: cover !important;
        }
 

        .card:hover {
            color: #fff;
            transform: scale(1.025);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
          }
          
          .card {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: all 0.2s ease;
          
          }
          
          .hover1 {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
          }
          
          .hover1:hover {opacity: 0.5;}