#toppic {
    height: 600px;
    background-image: url(../images/flakstad/flakstad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .bg-section {
    background-color: #8FEFEF;
}

.div1{
    display: flex;
    flex-wrap: wrap;
}

